h9{
    
    font-size: 30px;
    color: coral;
    margin-left: 30%;
}
.View__edit{
    margin-left: 20%;
    margin-top: 3%;
    display: block;
   
    font-size: 30px;
}
.btn-space{
    margin-right: 15px;
}
