h8{
    
    font-size: 30px;
    color: coral;
    margin-left: 30%;
}

.edit__sale{
  margin-left: 30%; 
   
   
    font-size: 30px;
}


.btn-space{
    margin-right: 15px;
    /* margin-left: 30%; */
}